/* Stile generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

.container{
    width: 80%;
    margin: 0px auto;

}

/* Stile header*/

#section-navbar{
    background-color: orange;
    height: 30px;
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.bg-banner{
    background-color: blue;
    display: flex;
    justify-content: center;
    
}

#header-banner{
    background: pink;
    width: 520px;
    height: 220px;
    margin: 20px;
}


/* Stile main */
.main-banner{
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 20px 0px;
}

.bg-blue{
    background-color: rgb(101, 101, 255);
    width: 70%;
    
}
.bg-pink{
    background-color: rgb(243, 207, 213);
    width: 30%;
    
}

.bg-green{
    background-color: green;
    width: 100%;
}

.second-banner{
    display: flex;
    justify-content: center;
    height: 600px;
    padding: 20px 0px;
}
main > div:nth-child(even) {
  background-color: rgb(182, 178, 178);
}

main > div:nth-child(odd) {
  background-color: white;
}

/* Stile footer */
footer{
    background-color: rgb(34, 33, 33);
}
.footer-banner{
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 10px 0px;
    
}

.bg-orange{
    background-color: orange;
    width: 30%;
}

.bg-red{
    background-color: rgb(197, 34, 34);
    width: calc(70%/4);
    border: 1px solid black;
}

#section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 50px;
    margin: 10px auto;
    width: 80%;
}

